<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite parallel="false" name="TV 2 Sumo Automation Test Suite">

	<listeners>
		<listener class-name="sumo.qa.ExtentReportListener.ExtentReporterNG" />
	</listeners>


	<test name="TV 2 sumo Test Cases">
		<classes>
			<class name="sumo.qa.testcases.TestcaseTrialTest"></class>
			
		</classes>
	</test>
</suite>

